form.d-flex {
    width: 100vw;
}
.hr-stock {
    border-radius: 30px;
    top: -12px;
}

.round-cols,
.round-cards,
.round-cards img {
    border-radius: 30px;
}

.card-img-top {
    border-radius: 20px;
}

.round-cols {
    background-color: rgba(128, 131, 134, 0.398);
}

.skiptranslate{
    visibility: collapse;
}
div#\:0\.targetLanguage{
    visibility: visible;
}
.skiptranslate iframe, .skiptranslate span{
    display: none;
}
.skiptranslate select{
    background-color: #f9f9f9;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 2;
    transition: all 200ms linear;
    border-radius: 4px;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    color: #102770;
    box-shadow: 0 12px 35px 0 rgba(255,235,167,.15);
}


@media screen and (min-width: 769px) {
    .footer img {
        height: 50px;
        width: 50px;
    }

    .footer .home img {
        height: 100px;
        width: 100px;
    }

    .farm-view img {
        height: 300px;
    }

    .hr-stock-3 {
        top: -150px;
    }

    .loc {
        font-size: 15px;
    }
    span.bar{
        font-size: 25px;
    }
    .skiptranslate select{
        height: 30px;
    }
    .hr-stock {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .footer img {
        height: 30px;
        width: 30px;
    }

    .footer .home img {
        height: 50px;
        width: 50px;
    }

    .farm-view img {
        height: 100px;
    }

    .row.adv .card-img-top {
        height: calc(100vh - 75vh);
    }

    .round-cols {
        width: calc(100vw - 68vw);
    }

    .card-text {
        font-size: 10px;
    }

    .bg-warning .card-text {
        font-size: 7px;
    }

    .hr-stock-3 {
        top: -60px;
        font-size: 12px;
    }

    .fa-search {
        font-size: 11px;
    }

    .search {
        font-size: 10px;
    }

    .loc, .skiptranslate select{
        font-size: 5px;
    }
    .skiptranslate select{
        width: 50px;
    }

}

@media screen and (min-width: 500px) and (max-width: 767px) {

    .round-cols {
        width: calc(100vw - 77vw);
    }
}